.container
{
    color: rgb(241, 85, 12);
    background-color: rgb(61, 240, 225);
    border :2px  solid blue;
    padding: 4px;
    margin: 6px;
}
.bgp{
    color:red;
    background-color: aquamarine;
    border: 0px;
}